/*.home{
  padding: 0 2rem;
}*/
body{
  background-color: #fafafa;
}
#canvas-box{
  min-width: 400px;
  min-height: 300px;
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none
}
#canvas-box .overlay{
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  border:1px solid #69f;
}
#canvas-box div,#canvas-box canvas{
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none
}
a{
  text-decoration: none;
}
.inner{
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
img{
  width: 100% !important;
}
.MuiGridListTile-root-71{
  height: auto !important;
}
