@import '~antd/dist/antd.css';
#components-layout-demo-custom-trigger,.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger,.trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger,.logo {
    height: 32px;
    background: inherit;
    margin: 16px;
}
.ant-layout{
  min-height: 100vh;
}
.gutter-box{
  padding: 0.5rem;
}
.y-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.mr-m {
  margin-right: 1rem !important;
}
.text-2x {
  font-size: 2rem;
}
.y-right{
  margin-left: auto;
}
.table_title{
  display: flex;
  flex-direction: row;
}
.table_title_button{
  margin-left: auto;
}
